{% extends 'base.html' %}

{% block title %}<h2>Listado de Libros</h2>{% endblock %}

{% block content %}
<strong>Mostrando: {{n}}</strong>
<div class="row mt-2" id="header">
    <div class="col pt-2">Título</div>
    <div class="col pt-2">Autor/es</div>
    <div class="col pt-2">Portada</div>
    <div class="col pt-2"><a class="btn btn-success mb-2" href="/add_libro/">Nuevo libro</a></div>
</div>
{% for libro in lista %}
<div class="row" id="instance">
  <div class="col pt-2">{{libro.titulo}}</div>
  <div class="col pt-2">
        {% for nombre_autor in libro.autores %}
            {{nombre_autor}}<br/>
        {% endfor %}
  </div>
  <div class="col mb-1 mt-1"><img src="{{libro.portada.url}}" width="60" height="100"></img></div>
  <div class="col">
    <a class="btn btn-primary mt-4" href="/edit_libro/{{libro.id}}">Editar</a>
    <a class="btn btn-danger mt-4 ml-2" href="/delete_libro/{{libro.id}}" onClick="return confirm('¿Seguro que quieres borrar {{libro.titulo}}?');">Borrar</a>
    </div>
</div>
{% endfor %}
{% endblock %}